*, html {
    box-sizing: border-box;
    font-family: Kanit, Arial, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    background: #181818;
}

#chatbot {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 50px;
    right: 50px;
    overflow: hidden;
    background: #fafafa;
    width: 400px;
    height: 550px;
    border-radius: 10px;
    transition: all 0.4s;
}

#chatbot.hidden {
    height: 0;
    visibility: hidden;
}

#chatbot-window {
    position: relative;
    height: 100%;
    padding: 50px 8px;
    display: block;
}

#chatbot-close {
    position: absolute;
    margin: 5px 5px 0 auto;
    cursor: pointer;
    transition: all 0.2s;
    width: 25px;
    height: 25px;
    right: 5px;
    top: 5px;
    z-index: 1;
    user-select: none;
    user-select: none;
}

#chatbot-close > img{
    width: 25px;
    height: 25px;
}

#chatbot-display.hidden ~ #chatbot-close {
    opacity: 0;
}

#chatbot-message-window, #chatbot-input {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 12px;
}

#chatbot-message-window {
    height: 70%;
    margin: 0 0 20px;
}

#chatbot-input {
    height: 30%;
}

.chatbot-message {
    background: #00FF66;
    color: #000;
    border-radius: 8px;
    padding: 5px 12px;
    max-width: 220px;
    position: relative;
    hyphens: auto;
    margin-top: 10px;
    transition: margin-top .05s;
}

#chatbot-message-window .chatbot-message {
    margin-top: 10px;
}

#chatbot-message-window .chatbot-message:not(:last-child) {
    margin-bottom: 12px;
}

.chatbot-message:after {
    content: '';
    position: absolute;
    bottom: 1px;
    right: 2px;
    transform: translateX(100%) rotate(10deg);
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-left-color: #00FF66;
}

.chatbot-message.user-message {
    margin-top: 0;
}

.chatbot-message.bot-message {
    background: #181818;
    color: #fff;
    align-self: flex-start;
    cursor: default;
    margin-top: 0;
}

.chatbot-message.bot-message:active {
    transform: scale(1);
}

.chatbot-message.bot-message:after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 2px;
    transform: translateX(-100%) rotate(-10deg);
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right-color: #181818;
    filter: drop-shadow(2px 3px 3px rgba(0,0,0,0.25));
}

.chatbot-message.option {
    cursor: pointer;
    z-index: 5;
    width: 100%;
    max-width: inherit;
    background: #ff1c52;
    transition: all 0.05s;
    text-align: center;
    font-weight: 700;
    border-radius: 0;
}

.chatbot-message.option:hover:before {
    transform: scaleX(1);
}

.chatbot-message.option:after {
    display: none;
}

.chatbot-message.option:active {
    transform: scale(0.97);
}

.chatbot-send {
    top: 0;
    right: 0;
    display: block;
    max-width: 75px;
}

.chatbot-send.disabled {
    display: none;
}